{{!< default}}

{{#post}}
<article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

   <div>
    	<input id="search-input" type="text" placeholder="Type to search" />
    	<div id="search-result"></div>
	</div>

	<form>
    	<input id="search-field" />
	    <input type="submit" value="search">
	</form>
	
	<section id="results"></section>

</article>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
   new GhostFinder({
    	input: '#search-input',
    	showResult: '#search-result',
    	contentApiKey: ''
	})
</script>
<script>
	var ghosthunter_key = '65cb2b1d009a6e0f7b44a171bb';
    $("#search-field").ghostHunter({
    	results: "#results"
    });
  </script>
{{/contentFor}}