{{!< default}}

{{#post}}
<article class="post-content {{post_class}} {{#unless feature_image}}no-image{{/unless}}">

    <header class="post-content-header">
        <h1 class="post-content-title">{{title}}</h1>
    </header>

   <div>
    	<input id="search-bar" type="text" placeholder="Type to search" />
    	<div id="search-results"></div>
	</div>

</article>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>
	var searchinGhost = new SearchinGhost({
		key: '65cb2b1d009a6e0f7b44a171bb'
	});
</script>
{{/contentFor}}